header {
  background-color: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,.08);
}
#container {
  min-width: 960px;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 16px 30px;
  color: rgba(0,0,0,.4);
  margin: 0 auto;
}

#links {
  margin-left: -200px;
}

#links ul {
  flex-grow: 1;
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0px;
  margin: 0px;
  margin-right: 250px;
}

#links ul li {
  cursor: pointer;
}

#links ul li:hover {
    color: black;
}
